/* Navbar styling start */

html{
    height: 100vh;
}

.navbar{
    border-radius: 0;
    background-color: grey;
    position: fixed;
}

/* Navbar Darkmode Start*/

.navdarkMode{
    border-bottom: 1px solid grey;
    background-color: rgb(48,48,48);
    color: white;
}

/* Navbar Darkmode End*/

.container-fluid{
    height: 61.5px;
    width: 100vw;
    display: flex;
    align-items: center;
}

#titlecontainer{
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo{
    width: 22px;
    height: 22px;
    min-height: 20px;
    min-width: 20px;
    margin: 5px;
}

#titlename{
    font-size: 45px;
    text-shadow: 1px 1px 4px black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#titlelink{
    color: white;
}
#titlelink:hover{
    color: white;
}

/* Navbar styling end*/

/* Features/Feature Start*/

.background{
    width: 200px;
    height: 100vh;
    overflow: auto;
    background-color: rgb(207, 206, 206);
    position: fixed;
    z-index: -1;
    margin-top: 13px;
}

/* Features Background Dark Mode Start*/

.backgdarkMode{
    border-right: 1px solid grey;
    background-color: rgb(48,48,48) !important;
    color: white;
}

.selectFeature{
    background-color :rgb(255, 255, 144);
    color: black;
    border: 0.2px solid black;
}

.selectFeature:hover{
    background-color :rgb(255, 255, 144) !important;
    color: black !important;
    border: 0.2px solid black !important;
}

.featureInDark{
    background-color :rgb(48,48,48);
    color: white;
}

.featureNormal{
    background-color :rgb(207, 206, 206);
    color: black;
}

/* Features Background Dark Mode End*/

.userPic{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    border-radius: 50%;
    border: 1.5px solid black;
    color: white;
}

.userPicture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature{
    display: flex;
    align-items: center;
    justify-content: left;
    width:200px;
    height:50px;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

#feature1{
    margin-top: 20px;
}

.feature:hover{
    color: black;
    background-color: rgba(168, 158, 158, 0.501);
}

.featuredarkMode:hover{
    color: white;
    background-color: rgba(168, 158, 158, 0.501);
}

.featureTitle{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
}

.featureContainer{
    width: 200px;
    position: absolute;
    top: 50px;
    transition: 150ms linear;
}

/* Features/Feature End */

/* Setday Feature Styling Start */

.setDay{
    position: absolute;
    height: 250px;
    width: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    background-color: grey;
    z-index: 5;
    border: 1px solid black;
    border-radius: 25px;
}

.toolBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.overLay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.5);
    pointer-events: auto;
    z-index: 2;
}

.closeSetDayButton{
    height: 15px;
    width: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 15px;
    padding-bottom: 4px;
    border: 1px solid rgba(0, 0, 0, 0.661);
    color: black;

}

.closeSetDayButton:hover{
    background-color: rgba(53, 50, 50, 0.501);
    color: white;
}

.setDayContext{
    font-size: 15px;
    color: white;
    padding-left: 15px;
    padding-top:2px;
    font-weight: bolder;
}


/* Form Styling Start */

.sessionSetup{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 15px;
    background-color: grey;
}

#sessCount, #sessBreakTime{
    width: 50px;
}

.sessionFormInput{
    border: 1px solid black;
    padding-bottom: 5px;
    text-align: center;
}

.sessionFormLabel{
    padding-bottom: 5px;
    padding-left: 30px;
    color: white;
}

#startTime{
    padding-right: 24px;
}

#endTime{
    padding-right: 30px;
}

#sessions{
    padding-right: 38px
}

#breakTime{
    padding-right: 18px;
}

#submitSessionButton{
    margin-left: 90px;
    margin-top: 20px;
    background-color: white;
    border:  1px solid black;
}

#submitSessionButton:hover{
    background-color: rgba(53, 50, 50, 0.693);
    color: white;
}

/* Form Styling End */

/* Setday Feature Styling End */

/* Schedule Start */

.scheduleDisclaimer{
    width: 80vw;
    height: 30px;
    background-color: rgb(255, 255, 144);
    position: relative;
    top: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    transition: 150ms linear;
}

.scheduleContext{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

/* Schedule End */

/* Daily Activities Start */

.dailyActivity{
    width: 80vw;
    position: relative;
    top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 144);
    border: 0.2px solid black;
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 10px;
    transition: 150ms linear;
}

/* Form Styling Start */

.addActivity{
    width: 80vw;
    background-color:rgb(255, 255, 144);
    border-radius: 10px;
    border: 0.2px solid black;
}

.addActivityBar{
    position: fixed;
    top: 90vh;
    bottom: 20vh;
    display: flex;
    flex-direction: column;
    transition: 150ms linear;
}

.actFormElement{
    text-align: center;
    background-color:rgb(255, 255, 144);
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border: 0;
    color: black;
    width: 11vw;
    border: 0.2px solid black;
    box-shadow: 0px 0px 2px black;
}

.actFormElement::placeholder{
    color: black;
    text-shadow: 1px black;
}

.actFormElement:focus{
    border: 1px groove black;
    outline: none;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#priorityDropdown{
    height: 28px;
}

.activityForm{
    gap: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.submitActivity{
    border-radius: 50%;
    font-size: 18px;
    width: 30px;
    padding-bottom: 3px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgb(48,48,48);
    border: 0;
}

.submitActivity:hover{
    color: black;
    background-color: darkgreen;
}

/* Form Styling End */

/* Heading pop up start */

.headingPopUp{
    width: 6.5vw;
    height: 15px;
    background-color: grey;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    font-size: 10px;
    text-align: center;
    color: white;
}

.popUpBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: 150ms linear;
    position: relative;
    bottom: 0.2px;
    right: 2.8vw;
    z-index: -1;
}

/* Heading pop up end */

/* Daily Activities End */

/* Quick Session start */

.setQuickSess{
    position: absolute;
    height: 220px;
    width: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    background-color: gray;
    z-index: 5;
    border: 1px solid black;
    border-radius: 25px;
}
/* Quick Session end */
