.navbar{
    border-radius: 0;
    background-color: grey;
    min-height: 10px;
}

.container-fluid{
    height: 9vh;
    display: flex;
    align-items: center;
}

#titlecontainer{
    display: flex;
    justify-content: center;
    flex: 1;
}

#menulogo{
    width: 2.5vw;
    height: 3vh;
    margin: 5px;
}

#dailyactlogo{
    width: 2vw;
    height: 3.5vh;
    margin: 5px;
}

#titlename{
    font-size: 3vw;
    text-shadow: 1px 1px 2px black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#titlelink{
    color: white;
}
#titlelink:hover{
    color: white;
}