/* Native Html Elements Start */

html{
    height: 100vh;
}

body{
    position: relative;
    z-index: 5;
}

legend{
    color: red;
    font-size: 20px;
}

label{
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    padding-left: 15px;
}

/* Native Html Elements End */

/* Login Start */

.homepage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-color: teal;
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times New Roman, serif;
    overflow: scroll;
  }
  
.appTitleContainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.captionContainer{
    display: flex;
    flex-direction: column;
    padding-left: 440px;
    margin-top: -50px;
}

.appCaption{
    font-weight: bolder;
    color: orange;
    text-shadow: 1px 1px 5px black;
}

.appTitle {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 5px black;
    font-family: Cambria, Cochin, Georgia, Times New Roman, serif;
    margin: 0px;
}

.authContainer {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 144);
}

.loginSetup {
    width: 350px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
}

.loginTitle {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.userInfoForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginSubmitButtonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 400 px;
}

.emailContainer, .passwordContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
}

.emailInput, .passwordInput {
    all: unset;
    cursor: pointer;
    width: 250px;
    font-size: 18px;
    color: black;
    border: 0;
}

.togglePassword{
    display: flex;
    align-items: center;
}

.emailInput{
    padding-right: 30px;
}

.passwordInput{
    padding-left: 5px;
}

.loginSubmitButton {
    width: 350px;
    font-size: 18px;
    background-color: teal;
    border: 0.5px solid black;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.signUpNDemoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}

.signUpButton, .demoButton {
    all: unset;
    cursor: pointer;
    width: fit-content;
}

.authFailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.errorText {
    color: red;
}

.inputIcon {
    font-size: 22px;
}
  
@media (max-width: 1000px){
    .homepage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .authContainer{
        border-radius: 10px;
    }
}

@media (max-width: 600px){
    .appTitle{
        font-size: 70px;
    }
    .authContainer{
        min-width: 300px;
    }
    .emailContainer, .passwordContainer, .loginSubmitButtonContainer{
        width: 250px;
    }
    .userInfoForm{
        align-items: center;
    }
    .emailInput, .passwordInput, .loginSubmitButton{
        font-size: 12px !important;
    }

    .loginTitle{
        font-size: 25px !important;
    }

    .signUpNDemoContainer{
        font-size: 10px !important;
    }

    .emailIcon{
        margin-left: 4px;
        margin-right: 4px;
    }

    .loginSetup{
        height: 320px;
    }
}

@media (max-width: 450px){
    .emailContainer, .passwordContainer, .loginSubmitButtonContainer{
        width: 250px;
    }

    .userInfoForm{
        align-items: center;
    }

    .signUpNDemoContainer{
        width: 300px;
    }
}

@media (min-width: 600px){
    .appTitle{
        font-size: 120px;
    }

    .authContainer{
        min-width: 400px;
    }
}

/* Login End */

/* Navbar styling start */

.navbar{
    border-radius: 0;
    background-color: grey;
    position: fixed;
    z-index: 2;
}

/* Navbar Darkmode Start */

.navdarkMode{
    border-bottom: 1px solid grey;
    background-color: rgb(48,48,48);
    color: white;
}

/* Navbar Darkmode End */

.container-fluid{
    height: 61.5px;
    width: 100vw;
    display: flex;
    align-items: center;
}

#titlecontainer{
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo{
    width: 22px;
    height: 22px;
    margin: 5px;
    cursor: pointer;
}

.targetContainer{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 24px;
    width: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.currentTarget{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titlename{
    font-size: 45px;
    text-shadow: 1px 1px 4px black;
    font-family:Cambria, Cochin, Georgia, 'Times New Roman', serif;
}

#titlelink{
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-left: 0;
}

#titlelink:hover{
    color: white;
}

/* Navbar styling end */

/* Features/Feature Start */

.background{
    width: 200px;
    height: 100vh;
    overflow: auto;
    background-color: rgb(207, 206, 206);
    position: fixed;
    z-index: 1;
    margin-top: 13px;
}

.featureNormal{
    background-color :rgb(207, 206, 206);
    color: black;
}

.selectFeature{
    background-color :rgb(255, 255, 144);
    color: black;
    border: 0.2px solid black;
}

.selectFeature:hover{
    background-color :rgb(255, 255, 144) !important;
    color: black !important;
    border: 0.2px solid black !important;
}

.userPic{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    border-radius: 50%;
    border: 1.5px solid black;
    color: white;
}

.userPicture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilepic1{
    border: 1px solid grey
}

.profilepic2{
    border: 1px solid black
}

.feature{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    width:200px;
    height:50px;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.feature:hover{
    color: black;
    background-color: rgba(168, 158, 158, 0.501);
}

#feature1{
    margin-top: 20px;
}

.featureTitle{
    font-family:Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
}

.featureContainer{
    width: 200px;
    position: absolute;
    top: 50px;
    transition: 150ms linear;
}

.featureContainer1{
    left: 0px;
}

.featureContainer2{
    left: -200px;
}

/* Features Dark Mode Start */

.backgdarkMode{
    border-right: 1px solid grey;
    background-color: rgb(48,48,48) !important;
    color: white;
}

.featureInDark{
    background-color :rgb(48,48,48);
    color: white;
}

.featuredarkMode:hover{
    color: white;
    background-color: rgba(168, 158, 158, 0.501);
}

/* Features Dark Mode End */

/* Features/Feature End */

/* Disclaimer Start */

.disclaimerContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(48,48,48);
    z-index: 10 !important;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    top: 42vh;
}

.disclaimerFrame{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.disclaimerContainer1{
    height: 150px;
    width: 300px ;
}

.disclaimerContainer2{
    height: 100px;
    width: 200px;
}

.criticalOps{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.criticalOps1{
    width: 300px;
}

.criticalOps2{
    width: 200px;
}

.yesButton{
    background-color: green !important;
    border: 0;
    border-radius: 2px;
    padding: 5px;
}

.noButton{
    background-color: red !important;
    border: 0;
    border-radius: 2px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#staticDisclaimer{
    position: relative;
    left: 20px;
    top: 5px;
}

.disclaimerTitle{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.disclaimerContent{
    display: flex;
    justify-content: center;
    text-align: center;
}

.failedAction{
    text-align: center;
    font-size: 15px;
    background-color: orange;
    z-index: 10 !important;
    border: 1px solid black;
    border-radius: 25px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: 350ms linear;
}

.actionContainer{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 120vh;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 18px;
    border-radius: 10px;
    transition: 350ms linear;
    z-index: 10;
    overflow: hidden;
}

.actionContainer1{
    top: 87vh !important;
    transition: 350ms linear;
}

.disclaimerAction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* Disclaimer End */

/* Schedule Start */

.dateTimeDisplay{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: end;
    padding-right: 20px;
    width: 0px;
}

.dtdSubContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.scheduleDisclaimer{
    width: 100vw;
    height: 30px;
    position: fixed;
    top: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.scheduleContext{
    height: 100%;
    margin: 0;
    width: 80%;
    background-color: rgb(255, 255, 144);
    border: 0.2px solid black;
    font-size: 20px;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    border-radius: 10px;
    text-align: center;
}

.activityListHView{
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 20px;
    overflow-x: auto; 
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    transition: 150ms linear;
}

.activityListHViewFrame {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 76px;
    width: 100vw;
  }

.activityListHView::-webkit-scrollbar {
    width: 0;
    height: 0; 
    transition: width 0.3s ease, height 0.3s ease;
}

.activityListHView:hover::-webkit-scrollbar {
    width: "auto"; 
    height: 8px;
}

.activityListHView::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.activitiesInCurrentSchedule{
    all: unset;
    cursor: pointer;
    background-color:rgb(255, 255, 144);
    border-radius: 10px;
    border: 0.2px solid black;
}

.activityName {
    border-bottom: 0.5px solid black;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.timeAndStatus {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.activityStartTime {
    margin-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    width: 70px;
}

.timeBarContainer {
    display: flex;
    align-items: center;
}

.timeBar {
    border-radius: 10px;
    height: 15px;
    border: 0.5px solid black;
    width: 90px;
    overflow: hidden;
    text-align: center;
}

.timeLeftContent{
    font-size: 10px; 
    position: relative; 
    width: 90px;
}

.fillBar {
    height: 100%;
    width: 0%;
    border-radius: 10px; 
    transition: width 350ms ease-in;
    display: flex; 
    justify-content: end;
}

.activityStatusImg{
    position: absolute;
    height: 12px;
    width: 12px;
}

.activityCurrentStatus {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: "white" !important;
    border: 0.2px solid black;
    display: flex;
    justify-content: center;
}

.activityEndTime {
    margin-right: 5px;
    padding-left: 5px;
    font-size: 15px;
    width: 70px;
}

.activityFrame {
    width: 80vw;
    height: 63.5vh;
    position: fixed;
    top: 205px;
    border-radius: 10px;
    transition: 150ms linear;
}

.activityFrameDark{
    border: 0.2px solid white;
    background-color: rgb(48, 48, 48);
}

.activityFrameNormal{
    border: 0.2px solid black;
    background-color: gray;
}

.prevActivity{
    height:50px; 
    width:23px; 
    transition: 150ms linear;
}

.moveButtons{
    width: 85vw;
    display: flex;
    justify-content: space-between;
}

.buttonContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.activityDescription{
    width: 150px;
    height: 150px;
    overflow: scroll;
    text-align: start;
    border-radius: 10px;
    margin-top: 10px;
}

.notes{
    padding:5px;
}

.activityDescrHeading{
    display:flex; 
    justify-content:center;
    flex-grow:1;
}

.nextActivity{
    height: 50px;
    width: 23px;
    transition: 150ms linear;
}

.currentActivities{
    width: 100vw;
    position: fixed;
    top: 93vh ;
    text-align: center;
    display: flex;
    justify-content: center;
}

.addCurrentActivityButton{
    all: unset;
    cursor: pointer;
    width: 80%;
    border: 0.2px solid black;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(255, 255, 144);
}

.csButtons{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    border: 0.2px solid black;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
    min-width: 120px;
}

.csButtonsContainer{
    display: flex; 
    flex-direction: column; 
    gap: 1vh; 
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
}

.csButtonsFrame{
    display: flex;
    justify-content: space-between;
}

.csInfoContainer{
    display: flex;
    justify-content: space-around;
    height: 25px;
}

.csInfo{
    padding-left: 22px;
    padding-right: 22px;
    font-size: 12px; 
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    color: white;
    display: flex;
    align-items: center;
}

.viewContent{
    width: 67vw;
    height: 55vh;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: scroll;
}

.viewContent::-webkit-scrollbar {
    width: 0;
    height: 0; 
    transition: width 0.3s ease, height 0.3s ease;
}

.viewContent:hover::-webkit-scrollbar {
    width: "auto"; 
}

.scheduleDark{
    border: 0.2px solid white;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.677)
}

.scheduleNormal{
    border: 0.2px solid black;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.677)
}

.activityTitle{
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

@media (max-width: 1250px){
    .actFormElement{
        height: 25px !important;
        width: 100px !important;
    }

    .headingPopUp{
        width: 90px !important;
    }

    .popUpBar{
        gap: 1vw !important;
    }

    .emptyPopUp{
        padding-right: 22px !important;
    }

    #specialElement{
        width: 80vw !important;
    }

    #actName{
        overflow: auto !important;
    }

    #actName::-webkit-scrollbar {
        width: 0;
        height: 0; 
        transition: width 0.3s ease, height 0.3s ease;
    }
    
    #actName:hover::-webkit-scrollbar {
        width: "auto"; 
    }
}

@media (max-width: 950px){
    .abs, .abstatus{
        display: none !important;
    }

    .asset1{
        margin-left: 2vw !important;
    }

    .moveButtons{
        width: 87vw;
    }

    .streakContainer-1{
        min-width: 370px !important;
        max-width: 450px !important;
     }

     .streakContainer-2{
        min-width: 370px !important;
        max-width: 450px !important;
     }

     .filterContainer{
        margin-left: 2.2vw !important;
     }

}

@media (max-width : 780px){
    .actFormElement{
        height: 20px !important;
        width: 80px !important;
        font-size: 12px !important;
    }

    .submitActivity{
        font-size: 12px !important;
    }

    .headingPopUp{
        width: 75px !important;
        font-size: 10px !important;
    }

    .popUpBar{
        gap: 0.5vw !important;
    }

    .emptyPopUp{
        padding-right: 30px !important;
    }

    .asset1{
        margin-left: 4vw !important;
    }

    .moveButtons{
        width: 90vw;
    }

    .streakContainer-1{
        max-width: 360px;
        min-width: 330px !important;
     }

     .streakContainer-2{
        max-width: 360px;
        min-width: 330px !important;
     }
}

@media (max-width: 670px){
    .addCurrentActivityButton, .upcDate, .dailyActivity, .soloActivityBar, .missedActivityDate{
        font-size: 14px !important;
    }

    .scheduleContext{
        font-size: 14px !important;
        height: fit-content !important;
    }

    .filterContainer{
        font-size: 12px !important;
        margin-left: 3.2vw !important;
        height: 72px !important;
        width: 90px !important;
    }

    .missedActivity{
        font-size: 14px !important;
        max-height: 20px !important;
    }

    .aba{
        width: 25vw !important;
    }

    .ab, .activityContent {
        width: 8vw !important;
    }

    #deleteButton, #editButton, #addButton {
        height: 18px !important;
        width: 18px !important;
    }

    .asset{
        height: 16px !important;
        width: 16px !important;
    }

    .weekTabs{
        font-size: 16px !important;
    }

    .activityForm{
        gap: 5px !important;
    }

    .actFormElement{
        height: 15px !important;
        width: 60px !important;
        font-size: 10px !important;
        overflow: scroll !important;
    }

    .submitActivity{
        font-size: 10px !important;
    }

    .headingPopUp{
        width: 55px !important;
        font-size: 8px !important;
        height: 10px !important;
    }

    .popUpBar{
        gap: 0.2vw !important;
    }

    .asset1{
        height: 15px !important;
    }

    .moveButtons{
        width: 95vw;
    }
    
    .csButtonsContainer{
        padding-right: 0px !important;
    }

    .missedActivityDateText{ 
        max-width: 150px;
        max-height: 20px;
     }

     .tnpT3{
        flex-direction: column;
        align-items: center;
        height: fit-content;
        min-height: 350px;
        justify-content: flex-start !important;
     }

     .streakContainer-1{
        min-width: 500px !important;
        max-height: 175px !important;
     }

     .streakContainer-2{
        max-height: 175px !important;
        min-width: 500px !important;
     }

}

@media (max-width: 500px){
    .aba{
        width: 20vw !important;
    }

    .activityForm{
        gap: 2px !important;
    }

    .actFormElement{
        height: 12px !important;
        width: 40px !important;
        font-size: 10px !important;
        overflow: scroll;
    }

    .submitActivity{
        font-size: 8px !important;
    }


    .scheduleContext{
        font-size: 12px !important;
        height: fit-content;
    }

    .headingPopUp{
        width: 35px !important;
        font-size: 6px !important;
        height: 10px !important;
    }

    .popUpBar{
        gap: 1vw !important;
    }

    .asset1{
        margin-left: 4vw !important;
        height: 15px !important;
        width: 5vw !important;
    }

    .moveButtons{
        width: 100vw;
    }

    .activityFrame{
        height: 56vh;
    }

    .viewContent{
        display: none !important;
    }

    .csButtonsFrame{
        justify-content: center !important;
        align-items: center !important;
    }

    .activityDescription{
        height: 100px !important;
        width: 200px !important;
    }

    .csButtons{
        width: 100%;
    }

     .streakContainer-1{
        min-width: 320px !important;
     }

     .streakContainer-2{
        min-width: 320px !important;
     }

     #qsHide{
        display: none !important;
    }

}

/* Schedule End */

/* Daily Activities Start */

.scrollHide{ 
    height: 65px; 
    width: 100vw; 
    position: fixed; 
    top: 63.5px; 
    border-radius: 0; 
    transition: left 150ms linear;
}

.abid{
    width:2vw; 
    padding-left:2vw
}

.aba{
    width:30vw;
    margin-left:5vw
}

.ab{
    width:5vw;  
    margin-left:2.5vw
}

.abf{
    width:5vw;  
    margin-left:3.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filterContainer{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100px;
    position: fixed;
    top: 125px;
    border-radius: 10px;
    border: 1px solid grey;
    transition: 150ms linear;
    font-size: 15px;
}

.filterField{
    border: 2px solid red;
}

.filterLabel{
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
}

.filterInput{
    height: 10px;
    padding-top: 2px;
}

input[type=radio] {
    margin-left: 10px;
}

.dailyActivityContainer{
    background-color: rgba(206, 206, 207, 0);
    height: 100vh;
    width: 100vw;
    top: 133px;
    position: relative;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    border-radius: 10px;
    transition: 150ms linear;
    z-index: -1;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.activityContainer{
    background-color: rgba(206, 206, 207, 0);
    height: 100vh;
    width: 100vw;
    top: 133px;
    position: relative;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    border-radius: 10px;
    transition: 150ms linear;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.activityContainer3{
    z-index: auto;
}

.soloActivityBar{
    background-color: rgba(206, 206, 207, 0);
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: row;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 10px;
    transition: 150ms linear;
}

.soloActivityBarDark{
    color: white;
    border: 0.2px solid white;
}

.soloActivityBarNormal{
    color: black;
    border: 0.2px solid black;
}

.activityStatus{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: 0.2px solid black;
}

.abstatus{
    display: flex;
    align-items: center;
    width:5vw;   
    margin-left:2vw;
    margin-right: 0.3vw;
}

#editButton{
    all: unset;
    cursor: pointer;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 25px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2vw;
}

#deleteButton{
    all: unset;
    cursor: pointer;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 25px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2vw;
}

#addButton{
    all: unset;
    cursor: pointer;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 25px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2vw;
}
  

.activityContent{
    margin:0;
    font-size:"20px";
}

.asset{
    width: 25px;
    height: 18px;
}

.asset1{
    width: 25px;
    height: 25px;
    background-color: orange;
    box-shadow: 0 0 2px black;
}

.addActivityBar{
    position: fixed;
    top: 91vh;
    bottom: 20vh;
    display: flex;
    margin-bottom: 3vh;
    flex-direction: column;
    transition: 150ms linear;
}

.addActivityFrame{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.dailyActAddBar{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.headingPopUp{
    width: 130px;
    height: 15px;
    background-color: teal;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 10px;
    text-align: center;
    color: white;
}

.popUpBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: 150ms linear;
    position: relative;
    bottom: 0.2px;
    z-index: -1;
    gap: 2vw;
}

.addActivity{
    width: 80vw;
    background-color:rgb(255, 255, 144);
    border-radius: 10px;
    border: 0.2px solid black;
}

/* Form Styling Start */

.activityForm{
    gap: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.actFormElement{
    text-align: center;
    background-color:rgb(255, 255, 144);
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    height: 30px;
    font-size: 14px;
    border: 0;
    color: black;
    width: 168px;
    border: 0.2px solid black;
    box-shadow: 0px 0px 2px black;
}

.actFormElement::placeholder{
    color: grey;
    text-shadow: 1px black;
    text-align: center;
}

.actFormElement:focus{
    border: 1px groove black;
    outline: none;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

#priorityDropdown{
    height: 28px;
}

.submitActivity{
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: teal;
    border: 0;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
}

#logOutButton{
    font-size: 16px !important;
}

.submitActivity:hover{
    color: black;
}

/* Form Styling End */

.scrollHideBottom{ 
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    top: 90.50vh;
    border-radius: 0;
    transition: left 150ms linear;
}

.scrollHideBottomNormal{
    background-color: white;
}

.scrollHideBottomDark{
    background-color: rgb(48,48,48);
}

.overLayInitial{
    position:fixed;
    top: 0;
    left: 0;
}

.changeOverLay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(179, 179, 179, 0);
    pointer-events: auto;
    z-index: 5;
}

/* Daily Activities End */

/* Quick Session start */

.setQuickSess{
    position: absolute;
    height: 220px;
    width: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    background-color: gray;
    z-index: 5;
    border: 1px solid black;
    border-radius: 25px;
}

.setQuickSess1{
    background-color: rgb(48,48,48);
}

.qsessionInfo {
    position: fixed;
    top: 188px;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color);
}

.qsessionBar {
    height: 20px;
    width: 50vw;
    border-radius: 10px;
    background-color: rgb(255, 255, 144);
    border: 0.1px solid var(--border-color);
    position: relative;
}

.qsessionTimeContainer {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 50vw;
}

.qsessTimeBar {
    height: 19px;
    background-color: green;
    border-radius: 10px;
}

.qsessionBreakBar {
    height: 20px;
    width: 28vw;
    background-color: rgb(255, 255, 144);
    border-radius: 10px;
    border: 0.1px solid var(--border-color);
    position: relative;
}

.qsessionBreakTimeContainer {
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    height: 100%;
    position: absolute;
    z-index: 1;
    width: 28vw;
}

.qsessBreakTimeBar {
    height: 19px;
    background-color: green;
    border-radius: 10px;
}

.qsessTcElement,.qsessBTcElement {
    margin: 0 !important;
}


/* Quick Session end */

/* Trends and Progress Start */

.trends{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 85vw;
    gap: 10px;
    transition: 150ms linear;
    overflow: scroll;
    flex-wrap: wrap;
}

.tnpT1 {
    position: fixed;
    top: 180px;
    height: 70vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t2filterFrame{
    position: fixed;
    z-index: 5;
    display: flex;
    width: 90vw;
    top: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.tnpT3{
    display: flex;
    justify-content: center;
    width: 100vw;
    max-height: 220px;
    height: fit-content;
    border-radius: 10px;
    gap: 2vw;
}

.t3Frame{
    position: fixed;
    top: 200px;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: scroll;
}

.t3FilterContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.streakStats{
    display: flex; 
    justify-content: center;
    gap: 20px;
    width: 100vw;
}

.streakElements{
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}

table, th, td {
    padding: 10px;
  }

.streakActNum::-webkit-scrollbar {
    width: 0;
    height: 0; 
    transition: width 0.3s ease, height 0.3s ease;
}

.streakActNum:hover::-webkit-scrollbar {
    width: "auto"; 
}

.streakActNum::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.streakActNum{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 350px;
    overflow: scroll;
    padding-right: 20px;
}

.specialTab1{
    background-color: orange;
 }

.specialTab2{
    background-image: linear-gradient(to right ,rgb(42, 42, 243), rgba(144, 10, 144, 0.925));
}

.defaultSTM{
    border-radius: 50%; 
    min-height:20px;
    min-width:20px; 
    text-align: center; 
    cursor: pointer;
}

.defaultDT{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.defaultDI{
    width: 50px;
    padding-left: 10px;
    padding-right: 50px;
}

.defaultD{
    width:100px;
    padding-right:20px; 
    overflow: scroll;
    height: 20px;
}

.defaultST{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.defaultAI{
    width:50px; 
    padding-left:10px; 
}

.defaultAE{
    padding-Left:10px;
    width:300px;
    overflow:scroll;
}

.streakContainer-1{
    display: flex;
    flex-direction: column;
    width: 35vw;
    max-height: 220px;
    height: fit-content;
    overflow: scroll;
    min-width: 450px;
}

.headingContainerInitial{
    border: 0.1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 144);
}

.headingElement-1{
    width: 50px;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headingElement-2{
    width: 100px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headingElement-3{
    width: 350px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.streakContainer-2{
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-height: 220px;
    overflow: scroll;
    height: fit-content;
    overflow: scroll;
    min-width: 450px;
}

.headingContainerFinal{
    border: 0.1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 144);

}

.headingElement-4{
    width: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headingElement-5{
    width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.t3barChart{
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Trends and Progress End */

/* Missed Activities Start */

.missedActivity{
    display: flex;
    background-color: rgb(255, 255, 144);
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    border-radius: 10px;
    font-size: 20px;
    border: 0.2px solid black;
}

.missedActivityDate{
    height: fit-content;
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-image: linear-gradient(to right, rgb(42, 42, 243), rgba(144, 10, 144, 0.925));
    border-radius: 10px;
    width: fit-content;
    overflow: auto;
}

.missedActivityDateText{
    margin-bottom: 0; 
    padding-left: 10px; 
    padding-right: 10px;
    overflow: auto;
}

.missedActivitiesList{
    padding-top: 20px;
}

.dailyActivity{
    width: 80vw;
    position: fixed;
    top: 85px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 144);
    border: 0.2px solid black;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 10px;
    transition: 150ms linear;
}

.dailyActivityHolder{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.maMainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 150ms linear;
}

.maMainFrame{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 65px;
    flex-direction: column;
    gap: 20px;
  }

/* Missed Activities End */

/* Plan Ahead Start */

.planAhead{
    width: 100vw;
    height: 95px;
    position: fixed;
    top: 76px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family : Cambria, Cochin, Georgia, 'Times New Roman', serif;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    transition: 150ms linear;
    font-size: 20px;
    overflow: scroll;
    justify-content: center;
    flex-wrap: wrap;
}

.weekTabs{
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 168px;
    min-width: 168px;
    height: 84px;
    background-color:rgb(255, 255, 144);
    border-radius: 10px;
    border: 0.2px solid black;
    z-index: 1;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    overflow: scroll;
}

.tabsContainer{
    position: fixed;
    width: 100vw;
    top: 90px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paTab{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Date{
    margin-top: 7px;
    color: black;
}

.specialTab{
   box-shadow : 0 0 7px black !important;
   background-color : #b1c7b3 !important;
}

.currentActivityTab{
    box-shadow : 0 0 7px black;
    background-image : linear-gradient(to right ,rgb(42, 42, 243), rgba(144, 10, 144, 0.925));
    color : white;
}

.upcDate{
    margin:0;
}

.dateSpan{
    background-image: linear-gradient(to right, rgb(42, 42, 243), rgba(144, 10, 144, 0.925));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    overflow: hidden;
    margin: 0;
    font-weight: bold;
}

/* Plan Ahead End */

/* Setday Feature Styling Start */

.setDay{
    position: absolute;
    height: 250px;
    width: 250px;
    top: calc(50% - 125px);
    left: calc(50% - 125px);
    background-color: grey;
    z-index: 5;
    border: 1px solid black;
    border-radius: 25px;
}

.setDay1{
    background-color: rgb(48,48,48);
}

.setDay2{
    background-color: grey;
}

.toolBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.toolBar1{
    background-color: rgb(48,48,48);
}

.overLay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.5);
    pointer-events: auto;
    z-index: 2;
}

.overLay1{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.5);
    pointer-events: auto;
    z-index: 2;
    top: 0;
    left: 0;
}

.closeSetDayButton{
    height: 15px;
    width: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-right: 15px;
    padding-bottom: 4px;
    border: 1px solid rgba(0, 0, 0, 0.661);
    color: black;

}

.closeSetDayButton:hover{
    background-color: rgba(53, 50, 50, 0.501);
    color: white;
}

.setDayContext{
    font-family:Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 15px;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
    font-weight: bolder;
}

.sessionAndBreakContainer{
    display: flex;
    flex-direction: row;
    width: 620px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
}

.sessionTabsContainer{
    height: 80vh;
    width: 100vw;
    position: fixed;
    top: 85px;
    display: flex;
    justify-content: center;
}

.sessionDefault{
    width: 300px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.1px solid black;
}

.sessionNoText{
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 144);
    color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 299px;
    height: 20px;
}

.testClass {
    color: white;
    text-align: center;
    display: flex;
    align-self: center;
}
  
.sessionActivities {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 225px;
    overflow: scroll;
    gap: 2px;
}  

.timeContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 74px;
    height: 60px;
    color: black;
  }  

.timer{
    text-align: center;
    background-color: teal;
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 59px;
    align-items: center;
    justify-content: center;
    border-left: 0.1px solid black;
}

.sessionStartTimeCont {
    text-align: center;
    background-color: rgb(255, 255, 144);
    color: black;
    width: 85px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
  }
  
.sessionProgressStatus {
    width: 120px;
    height: 12px;
    border-radius: 5px;
    background-color: rgb(255, 255, 144);
    box-shadow: 0 0 0.1px black;
    border: 0.1px solid black;
    display: flex;
    align-self: center;
}

.sessionEndTimeCont {
    text-align: center;
    background-color: rgb(255, 255, 144);
    color: black;
    width: 85px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
  }  

.breakNo {
    text-align: center;
    margin: 0;
    background-color: rgb(255, 255, 144);
    color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 299px;
    height: 20px;
}

.breakQuote {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 60px;
    justify-content: center;
    overflow: scroll;
    gap: 2px;
  }  

.quote {
    text-align: center;
    display: flex;
    align-self: center;
} 

.sessionSubTab1{
    width: 299px;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    border-top: 0.1px solid black;
    border-bottom: 0.1px solid black;
}

.sessionSubTab2{
    width: 299px;
    height: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    background-color: rgb(255, 255, 144);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sessionTabs {
    display: flex;
    flex-direction: row;
    transition: 150ms linear;
    color: white;
    height: 80vh;
    width: 100vw;
    gap: 40px;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.breakConDefault{
    width: 20vw;
    background-color: teal;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.breakContainer{
    width: 300px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.1px solid black;
}

.activityCurrentStatus1{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: "white" !important;
    border: 0.2px solid black;
    display: flex;
    justify-content: center;
}

.activityStatusImg1{
    position: relative;
    height: 11px;
    width: 11px;
}

@media (max-width: 670px) {
    .sessionAndBreakContainer {
        gap: 40px;
        justify-content: center;
    }
}

@media (max-width: 740px) {
    .dateTimeDisplay{
        display: none;
    }

    #titlelink{
        justify-content: center;
    }
}

/* Form Styling Start */

.sessionSetup{
    font-family:Cambria, Cochin, Georgia, 'Times New Roman', serif;
    padding-top: 15px;
    background-color: grey;
}

.sessionSetup1{
    background-color: rgb(48, 48, 48);
}

#sessCount, #sessBreakTime{
    width: 50px;
}

.sessionFormInput{
    border: 1px solid black;
    padding-bottom: 5px;
    text-align: center;
}

.sessionFormLabel{
    padding-bottom: 5px;
    padding-left: 30px;
    color: white;
}

#startTime{
    padding-right: 24px;
}

#endTime{
    padding-right: 30px;
}

#sessions{
    padding-right: 38px
}

#breakTime{
    padding-right: 18px;
}

#submitSessionButton{
    margin-left: 45px;
    margin-top: 20px;
    background-color: white;
    border:  1px solid black;
}

#submitSessionButton:hover{
    background-color: rgba(53, 50, 50, 0.693);
    color: white;
}

/* Form Styling End */

/* Setday Feature Styling End */

/* Others start */

#root{
    position: relative;
    z-index: -1;
    overflow: scroll;
}

.mainBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.mainBackground1{
    background-color: rgb(48,48,48);
}

.mainBackground2{
    background-color: white;
}

.loadingSpinner{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.loadingText{
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
    font-size: 16px;
}

.loadingScreen{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    transition: 150ms linear;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Others end */